.main-tool-wrap {
  width: 100%;
  position: relative;
  z-index: 100;

  .gnb {
    display: flex;

    > li {
      line-height: 30px;
      padding: 0 20px;
      height: 100%;
      font-size: 13px;
      position: relative;
      cursor: pointer;

      .gnb-sub {
        width: 150px;
        position: absolute;
        top: 30px;
        left: 0;
        padding: 10px 20px;
        background: #818181;
        box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.1);

        li {
          cursor: pointer;
          height: 40px;
        }
      }

      &:target {
        background: #818181;
      }

      &.active {
        background: #818181;
      }
    }
  }
}
