.toolbox-wrap {
  width: 100%;
  height: 20%;
  //   border: 1px solid red;
  padding: 10px;

  .contents-wrap {
    width: 100%;
    height: 100%;
    background: #808080;
    border: 2px solid #919191;
    border-radius: 5px;
    display: flex;

    .content {
      height: 100%;
      padding: 10px;

      &.knob-wrap {
        width: 20%;
        display: flex;
        flex-wrap: wrap;

        > div {
          width: calc(100% / 3);
          height: calc(100% / 2);
          position: relative;
          text-align: center;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          padding: 10px 5px;

          .title {
            font-size: 12px;
            background: #919191;
            border-radius: 3px 3px 0 0;
          }

          .knob {
            width: 100%;
            height: 100%;
            background: #717171;

            svg {
              width: 100%;
              position: absolute;
              top: 50%;
              left: 50%;
              height: 30%;
              transform: translate(-50%, -60%);
            }
          }

          .knob-value {
            width: 100%;
            background: #919191;
            border-radius: 0 0 3px 3px;
            font-size: 12px;
            padding: 3px 0;

            input {
              width: 30%;
              display: inline-block;

              &::-webkit-outer-spin-button,
              &::-webkit-inner-spin-button {
                -webkit-appearance: none;
                margin: 0;
              }
            }
          }
        }
      }

      &.console-wrap {
        width: 50%;
        height: 100%;
        padding: 0;

        p {
          font-size: 14px;
          font-weight: bold;
          background: #717171;
          padding: 5px 10px;
        }

        ul {
          width: 100%;
          height: calc(100% - 26.5px);
          display: flex;
          flex-wrap: wrap;

          li {
            width: calc(100% / 4);
            height: calc(100% / 2);

            .canvas-bg {
              width: 100%;
              height: 100%;
            }
          }
        }

        .canvas-btn-wrap {
          display: none;
        }
      }

      &.range-wrap {
        width: 30%;
        height: 100%;
        overflow-y: scroll;

        > div {
          border: 1px solid #919191;

          .title {
            background: #717171;
            font-size: 13px;
            font-weight: bold;
            padding: 5px;
          }

          .inner {
            padding: 5px;

            .inner-title {
              font-size: 13px;
              margin-bottom: 5px;
              font-weight: bold;
            }

            .inner-value {
              display: flex;
              justify-content: space-between;

              > div {
                width: calc(100% / 3 - 5px);
                display: flex;
                justify-content: space-between;

                label {
                  width: 12%;
                  font-size: 13px;
                  font-weight: bold;
                }

                input[type="number"] {
                  width: 80%;
                  border: 1px solid #aaa;
                  background: #717171;
                  padding: 0 5px;
                  text-align: right;

                  &::-webkit-outer-spin-button,
                  &::-webkit-inner-spin-button {
                    -webkit-appearance: none;
                    margin: 0;
                  }
                }
              }
            }
            label {
              font-size: 13px;
              font-weight: bold;
            }
            input[type="color"] {
              width: 100%;
            }
          }
        }
      }

      &:not(:last-of-type) {
        border-right: 1px solid #919191;
      }
    }
  }
}
